version: "3.7"
services:
    app:
        build:
            args:
                user: ShakilAhmmed
                uid: 1000
            context: ./
            dockerfile: Dockerfile
        image: image-uploader
        container_name: image-uploader-application
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www
        depends_on:
            - database
        links:
            - database
        networks:
            - image-uploader-network
    nginx:
        image: nginx:alpine
        container_name: image-uploader-nginx
        restart: unless-stopped
        ports:
            - "${NGINX_PORT}:80"
        volumes:
            - ./:/var/www
            - ./.docker/nginx:/etc/nginx/conf.d/
        networks:
            - image-uploader-network
        depends_on:
            - database
            - phpmyadmin
    database:
        image: mysql:5.7
        container_name: image-uploader-database
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        networks:
            - image-uploader-network
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: image-uploader-phpmyadmin
        restart: unless-stopped
        tty: true
        depends_on:
            - database
        ports:
            - "${PMA_PORT}:80"
        environment:
            PMA_HOST: database
            PMA_PORT: 3306
            PMA_USER: ${DB_USERNAME}
            PMA_PASSWORD: ${DB_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            UPLOAD_LIMIT: 2048M
        networks:
            - image-uploader-network

#    redis:
#        image: redis:5.0-alpine
#        container_name: image-uploader-redis
#        command: ["redis-server", "--bind", "redis", "--port", "6379"]
#        restart: unless-stopped
#        tty: true
#        ports:
#            - "6379:6379"
#        networks:
#            - image-uploader-network
networks:
    image-uploader-network:
        driver: bridge
